.idea/
.gradle/
.idea/
build/
logs/
log/
classes
api/.classpath
api/.project
api/.settings
api/build/
api/bin/
api/logs/
impl/.settings
impl/.classpath
impl/.project
impl/logs/
impl/log
impl/build/
impl/bin/
client/.settings
client/.classpath
client/.project
client/logs/
client/build/
client/bin/
